<!DOCTYPE html>
<html>

<head>
  <title>VMS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>

<body>
  <div id="app">
    <v-app light>
      <v-toolbar color="white">
        <v-toolbar-title v-text="title"></v-toolbar-title>
      </v-toolbar>
      <v-content>
        <section>
          <v-parallax src="assets/yann-maignan-YhJkERWHFnU-unsplash.jpg" height="600">
            <v-layout column align-center justify-center class="white--text">
              <img src="assets/vuetify.png" alt="Vuetify.js" height="200">
              <h1 class="white--text mb-2 display-1 text-center">Sistema de Manejo de Visitas</h1>
              <div class="subheading mb-4 text-center">Organiza las Actividades de tu Organización</div>
              <v-btn class="mt-12" color="blue lighten-2" dark large href="/pre-made-themes">
                Solicita una Demo
              </v-btn>
            </v-layout>
          </v-parallax>
        </section>

        <section>
          <v-layout column wrap class="my-12" align-center>
            <v-flex xs12 sm4 class="my-4">
              <div class="text-center">
                <h2 class="headline">Toma el control de los accesos</h2>
                <!-- <span class="subheading">
                Cras facilisis mi vitae nunc
              </span> -->
              </div>
            </v-flex>
            <v-flex xs12>
              <v-container grid-list-xl>
                <v-layout row wrap align-center>
                  <v-flex xs12 md4>
                    <v-card flat class="transparent">
                      <v-card-text class="text-center">
                        <v-icon x-large class="blue--text text--lighten-2">mdi-autorenew</v-icon>
                      </v-card-text>
                      <v-card-title primary-title class="layout justify-center">
                        <div class="headline text-center">Visitas Recurrentes</div>
                      </v-card-title>
                      <v-card-text>
                        Planifica con anticipación la visita de contratistas que deban tener acceso a tu empresa de
                        manera periodica.
                      </v-card-text>
                    </v-card>
                  </v-flex>
                  <v-flex xs12 md4>
                    <v-card flat class="transparent">
                      <v-card-text class="text-center">
                        <v-icon x-large class="blue--text text--lighten-2">mdi-lock</v-icon>
                      </v-card-text>
                      <v-card-title primary-title class="layout justify-center">
                        <div class="headline">Totalmente Auditable</div>
                      </v-card-title>
                      <v-card-text>
                        Entendemos la necesidad de poder alcanzar los más altos estandares en cuanto a seguridad, por
                        eso nuestro sistema es auditable de punta a punta desde la gestión hasta la recepción.
                      </v-card-text>
                    </v-card>
                  </v-flex>
                  <v-flex xs12 md4>
                    <v-card flat class="transparent">
                      <v-card-text class="text-center">
                        <v-icon x-large class="blue--text text--lighten-2">mdi-wrench</v-icon>
                      </v-card-text>
                      <v-card-title primary-title class="layout justify-center">
                        <div class="headline text-center">Verificación de RNC en línea</div>
                      </v-card-title>
                      <v-card-text>
                        Verificación de RNC en línea
                        Podrás verificar en línea el RNC o Cédula de la persona que acceda a la empresa, esto evitará
                        errores humanos en la digitación y brindará una capa extra de seguridad al personal y que labora
                        en la empresa.
                      </v-card-text>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-flex>
          </v-layout>
        </section>

        <section>
          <v-parallax src="assets/benjamin-child-GWe0dlVD9e0-unsplash.jpg" height="380">
            <v-layout column align-center justify-center>
              <div class="headline white--text mb-4 text-center">Gestionar Visitas nunca ha sido tan simple</div>
              <!-- <em>Kick-start your application today</!-->
              <v-btn class="mt-12" color="blue lighten-2" dark large href="/pre-made-themes">
                Solicita una Demo
              </v-btn>
            </v-layout>
          </v-parallax>
        </section>

        <section>
          <v-container grid-list-xl>
            <v-layout row wrap justify-center class="my-12">
              <v-flex xs12 sm4>
                <v-card flat class="transparent">
                  <v-card-title primary-title class="layout justify-center">
                    <!-- <div class="headline">Company info</div> -->
                  </v-card-title>
                  <!-- <v-card-text>
                    Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Nullam in aliquet odio. Aliquam eu est vitae tellus bibendum tincidunt. Suspendisse potenti.
                  </v-card-text> -->
                </v-card>
              </v-flex>
              <v-flex xs12 sm4 offset-sm1>
                <v-card flat class="transparent">
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline">Contacto</div>
                  </v-card-title>
                  <!-- <v-card-text>
                    Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare.
                  </v-card-text> -->
                  <v-list class="transparent">
                    <v-list-item>
                      <v-list-item-action>
                        <v-icon class="blue--text text--lighten-2">mdi-phone</v-icon>
                      </v-list-item-action>
                      <v-list-item-content>
                        <v-list-item-title>809-601-9002</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-action>
                        <v-icon class="blue--text text--lighten-2">mdi-map-marker</v-icon>
                      </v-list-item-action>
                      <v-list-item-content>
                        <v-list-item-title>Santo Domingo, Rep. Dom.</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-action>
                        <v-icon class="blue--text text--lighten-2">mdi-email</v-icon>
                      </v-list-item-action>
                      <v-list-item-content>
                        <v-list-item-title>jonathan@vms.do</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </section>

        <v-footer color="blue darken-2">
          <v-layout row wrap align-center>
            <v-flex xs12>
              <div class="white--text ml-4">
                Made with
                <v-icon class="red--text">mdi-heart</v-icon>
                by <a class="white--text" href="https://vuetifyjs.com" target="_blank">Vuetify</a>
                and <a class="white--text" href="https://github.com/vwxyzjn">Costa Huang</a>
              </div>
            </v-flex>
          </v-layout>
        </v-footer>
      </v-content>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    window['_fs_debug'] = false;
    window['_fs_host'] = 'fullstory.com';
    window['_fs_script'] = 'edge.fullstory.com/s/fs.js';
    window['_fs_org'] = '9F1AX';
    window['_fs_namespace'] = 'FS';
    (function (m, n, e, t, l, o, g, y) {
      if (e in m) { if (m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); } return; }
      g = m[e] = function (a, b, s) { g.q ? g.q.push([a, b, s]) : g._api(a, b, s); }; g.q = [];
      o = n.createElement(t); o.async = 1; o.crossOrigin = 'anonymous'; o.src = 'https://' + _fs_script;
      y = n.getElementsByTagName(t)[0]; y.parentNode.insertBefore(o, y);
      g.identify = function (i, v, s) { g(l, { uid: i }, s); if (v) g(l, v, s) }; g.setUserVars = function (v, s) { g(l, v, s) }; g.event = function (i, v, s) { g('event', { n: i, p: v }, s) };
      g.shutdown = function () { g("rec", !1) }; g.restart = function () { g("rec", !0) };
      g.log = function (a, b) { g("log", [a, b]) };
      g.consent = function (a) { g("consent", !arguments.length || a) };
      g.identifyAccount = function (i, v) { o = 'account'; v = v || {}; v.acctId = i; g(o, v) };
      g.clearUserCookie = function () { };
    })(window, document, window['_fs_namespace'], 'script', 'user');
  </script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          title: 'Visitor Management System'
        }
      }
    })
  </script>
</body>

</html>